:root {
  --primary-color: rgba(221, 48, 17, 0.87);
  --primary-display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Start */

header {
  display: var(--primary-display);
  padding: 20px 35px;
  background-color: var(--primary-color);
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header div {
  background-color: whitesmoke;
}

header h1 {
  font-weight: bold;
  font-size: 4.5vw;
  color: black;
  margin: 0;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: var(--primary-display);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.75vw;
}

/* Header Stop */

/* Start Hero Banner */

.hero {
  background-image: url("../images/background.jpg");
  display: var(--primary-display);
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
}

.hero img {
  flex: content;
  max-width: 15%;
}

.hero div {
  padding: 20px;
  background-color: white;
  width: 20%;
  margin: 3.5%;
}

.hero h2 {
  font-size: 2.5vw;
  text-align: center;
}

/* Hero Stop */

/* Work Content Start */

.section-name {
  display: var(--primary-display);
  justify-content: flex-end;
  flex: 0 0 15%;
  padding: 5px;
  border-right: 3px solid var(--primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
}

.about-me {
  display: var(--primary-display);
  justify-content: space-between;
}

.about-me h3 {
  font-weight: bold;
  text-align: right;
  font-size: 3vw;
  color: black;
  margin: 0;
}

.about-me article {
  display: var(--primary-display);
  align-items: center;
  margin: 10px;
  flex-direction: column;
}

.about-me article p {
  font-size: 1.5vw;

  max-width: 90%;
}

.work {
  display: var(--primary-display);
  justify-content: space-between;
}

.work h3 {
  font-weight: bold;
  text-align: right;
  font-size: 3vw;
  color: black;
  margin: 0;
}

.work-grid {
  display: var(--primary-display);
  flex-direction: column;
}

.work1 {
  display: var(--primary-display);
  padding: 1%;
  position: relative;
  margin: 0 3% 0 2%;
}

.work2 {
  width: 100%;
}

.work1 a {
  width: 100%;
}

.work1 a img {
  flex: 1 0 0;
  opacity: 80%;
  width: 100%;
}

.work1 img:hover {
  opacity: 100%;
}

.work-card {
  display: var(--primary-display);
  flex-wrap: wrap;
  margin: 0 3% 0 2%;
}

.work-cards {
  display: var(--primary-display);
  position: relative;
}

.work-card a {
  display: var(--primary-display);
  width: 50%;
  padding: 1%;
}

.work-card a img {
  flex: 1 0 0;
  max-width: 100%;
  opacity: 80%;
}

.work-card a img:hover {
  opacity: 100%;
}

.language-big {
  position: absolute;
  padding: 5px;
  background-color: black;
  color: silver;
  width: fit-content;
  bottom: 5%;
  left: 2%;
  font-size: 3.5vw;
  z-index: 9999;
}

.language-big p {
  font-size: 1.75vw;
}

.language-small {
  position: absolute;
  padding: 5px;
  background-color: black;
  color: silver;
  width: fit-content;
  bottom: 5%;
  left: 2%;
  font-size: 1.75vw;
  z-index: 9999;
}

.language-small p {
  font-size: 0.75vw;
}

/* Work Content Stop */

/* Contact Info Start */

.contact-me {
  display: var(--primary-display);
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-me h3 {
  font-weight: bold;
  text-align: right;
  font-size: 3vw;
  color: black;
  margin: 0;
}

.contact-me nav {
  display: var(--primary-display);
  padding: 1%;
}

.contact-me nav ul {
  display: var(--primary-display);
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.contact-me nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.55vw;
}

/* Contact Info Stop */

/* Media Types Start */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
    position: relative;
  }

  haeder nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-weight: bold;
    font-size: 2.5vw;
  }

  .about-me {
    flex-direction: column;
  }

  .section-name {
    border-right: none;
    border-bottom: 3px red solid;
    width: 100%;
    justify-content: center;
  }

  .about-me h3 {
    font-size: 5.5vw;
  }

  .about-me article p {
    font-size: 2.5vw;
  }

  .work {
    display: block;
  }

  .work h3 {
    font-size: 5.5vw;
  }

  .work1 {
    margin: 0 -1% 0 3%;
    padding: 0%;
  }

  .work-card {
    width: 100%;
  }

  .work-card a {
    width: 100%;
  }

  .contact-me {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .contact-me h3 {
    font-size: 5.5vw;
  }

  .contact-me nav {
    justify-content: center;
  }

  .contact-me nav ul li a {
    font-size: 2.55vw;
  }

  .language-small {
    position: absolute;
    padding: 5px;
    background-color: black;
    color: silver;
    width: fit-content;
    bottom: 5%;
    left: 2%;
    font-size: 3.5vw;
    z-index: 9999;
  }

  .language-small p {
    font-size: 1.75vw;
  }
}

/* Media Type Stop (found this one works for all small screens */
